*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    /* background-attachment: fixed; */
    position:sticky;
    top: 0px;
}
ul{
    display: flex;
    gap:15px

}
ul li{
    list-style: none;

}
ul a{
    text-decoration: none;
    color: white;
}

#back1{
    height: 600px;
    background-image: url(./assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}
#b1{
    margin-left: 70px;
    margin-top: 20px;
    padding: 15px;
    color: lime;
    border-radius: 20px;
    font-weight: 900;
}
#fresh1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
#f{
    color: limegreen;
}
/* fresh fruits */

/* Avaliable products */

#p1{
    background-color: lime;
    align-items: center;
    border-top-left-radius: 700px;
    border-top-right-radius: 700px;
    margin-top: 90px;
}
#img1{
    width: 110px;
    height: 110px;
}
.img2{
    width: 100px;
    height: 110px;
}

#p2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.A1{
    background-color: white;
    width:200px;
    height:220px;
    border: 2px;
    text-align: center;
    margin: 5px;
    border-radius: 10px;    
}
h3{
    padding: 4px;
    color: lime;
}
.b2{
    margin-top: 8px;
    padding: 5px;
    border-radius: 19px;
    color: lime;
    background-color: white;
}
#h22{
    text-align: center;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

/* reviews */

#re {
    margin-top: 80px;
}

#v{
    text-align: center;
    color: lime;
    padding: 20px;
}


#review {
    display: flex;
    justify-content: center;
    gap: 30px;              
    flex-wrap: wrap;         
}

.r1 {
    display: flex;
    align-items: center;
    gap: 15px;               
    background-color: lime;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
}

.img3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;      
}

/* choose us */
#choose{
    margin-top: 80px;
    width: 1000px;
    background-color:green;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
.img4{
    width: 200px;
    height: 200px;
}
#ll{
    margin-left: 80px;
}
.ch1{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items:center;
    margin-left: 20px;
    gap:10px
}
.p111{
    width: 600px;
    margin-left: 10px;
}

.h333{
    color: white;
}

p{
    color: white;
}

#last{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:15px;
    margin: 40px;
    border: 3px solid lime;
    border-top-left-radius: 900px;
    border-bottom-right-radius: 900px;
    padding: 50px;

}
.img5{
    width: 170px;
    height: 170px;
}
#last:hover{
    background-color: lime;
}
#final{
    text-align: center;
    color: white;
    background-color: lime;
}